<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout::layout(~{::title},~{::main})}">
<head>
    <title>Login</title>
</head>
<body>
<main>
    <div class="container">
        <h1>Авторизация</h1>
        <form th:action="@{/login}" id="login-form" method="post">
            <div style="color: red" th:if="${param.error}">
                Bad credentials
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">Username:</label>
                <input id="username" type="text" name="username" class="form-control">
            </div>
            <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input id="password" type="password" name="password" class="form-control">
            </div>
            <button type="submit" class="btn btn-outline-primary">Login</button>
        </form>
    </div>
</main>
</body>
</html>